@media (max-width: 767px) {
  /* стили для мобильных устройств */
  .headerInstagram {
    display: none;
  }
  .menu-btn{
    display: flex;
    align-items: center;
    position: absolute;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 2;
    position: fixed;
    right: 5%;
    top: 5%;
  }
   
  .menu-btn > span,
  .menu-btn > span::before,
  .menu-btn > span::after {
    display: block;
    position: fixed;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #fff;
    transition-duration: .25s;
  }
  .menu-btn > span::before {
    content: '';
    top: -8px;
  }
  .menu-btn > span::after {
    content: '';
    top: 8px;
  }
   
  .menubox{
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: -100%;
    width: 300px;
    height: 55%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    background-color: #FFA500;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
    transition-duration: .25s;
    border-bottom-right-radius: 20%;
    z-index: 1;
  }
   
  .menu-item {
    display: block;
    padding: 12px 24px;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    transition-duration: .25s;
  }
  .menu-item:hover {
    background-color: #ff9900fd;
  }
   
   
  #menu-toggle{
    opacity: 0;
  }
   
  #menu-toggle:checked ~ .menu-btn > span{
    transform: rotate(45deg);
  }
  #menu-toggle:checked ~ .menu-btn > span::before{
    top: 0;
    transform: rotate(0);
  }
  #menu-toggle:checked ~ .menu-btn > span::after{
    top: 0;
    transform: rotate(90deg);
  }
  #menu-toggle:checked ~ .menubox{
    visibility: visible;
    left: 0;
  }


header {
    grid-area: h;
    display: flex;
    padding: 2%;
}
  .about .imageT {
   width: 80%;
 
  }
  .about .imageT .text {
    text-align: center;
  }
  .about .contact {
    display: flex;
    flex-direction: column;
  }
  .card {
    margin-top: 10px;
  }
  .contentImg {
    display: none;
    background-color: #333333;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  /* стили для планшетов */
  .navbar a {
    margin-right: 20px;
  }
  .about .imageT {
    flex-direction: row;
    align-items: center;
  }
  .about .imageT .image {
    margin-right: 20px;
  }
  .card {
    margin-top: 0;
  }
}

@media (min-width: 992px) {
  /* стили для десктопов */
  .navbar {
    display: flex;
    justify-content: flex-end;
  }
  .navbar a {
    margin-left: 20px;
    margin-right: 0;
  }
  .about .imageT {
    flex-direction: row;
    align-items: center;
  }
  .about .imageT .image {
    margin-right: 40px;
  }
}

span{
    color: #FFA500;
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

header {
    grid-area: h;
    display: flex;
    padding: 2%;

}

.headerInstagram {
    display: flex;
    align-items: center;
    margin-left: 5%;
    margin-right: 15%;

}

.headerInstagram a {
    margin-left: 10%;
    color: white;
    text-decoration: none;
}

.navbar {
    display: flex;
    align-items: center;
}

.navbar a {
    margin-left: 50px;
    color: white;
    text-decoration: none;
}

i {
    color: #ffffff;
}

section{
    background-color: #333333;
    height: 100vh;
}

.image{
    background-color: #FFA500;
    width: 100px;
    height: 100px;
    border-radius: 100px;
    overflow: hidden;
}

.image img{
    width: 100px;
}

.imageT{
    display: flex;
    align-items: center;
    margin-left: 100px;
    margin-top: 10%;
}

.text{
    color: #ffffff;
    margin-left: 20px;
}

.content{
    display: flex;
    background-color: #333333;
}

.contentImg{
    background-color: #FFA500;
    width: 40%;
    position: absolute;
    right: 0;
    overflow: hidden;
}

.contact{
    margin-top: 20%;
    margin-left: 25%;
    color: white;
}

.card svg {
    height: 25px;
  }
  
.cardLinks{
    display: flex;
    height: 50px
}

.card {
    margin-top: 30%;
    background: #e7e7e7;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    overflow: hidden;
    width: 200px;
}
  
  .card::before, .card::after {
    position: absolute;
    display: flex;
    align-items: center;
    width: 50%;
    height: 100%;
    transition: 0.25s linear;
    z-index: 1;
  }
  
  .card::before {
    content: "";
    left: 0;
    justify-content: flex-end;
    background-color: #FFA500;
  }
  
  .card::after {
    content: "";
    right: 0;
    justify-content: flex-start;
    background-color: #333333;
  }
  
  .card:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }
  
  .card:hover span {
    opacity: 0;
    z-index: -3;
  }
  
  .card:hover::before {
    opacity: 0.5;
    transform: translateY(-100%);
  }
  
  .card:hover::after {
    opacity: 0.5;
    transform: translateY(100%);
  }
  
  .card span {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    color: whitesmoke;
    font-family: 'Fira Mono', monospace;
    font-size: 24px;
    font-weight: 700;
    opacity: 1;
    transition: opacity 0.25s;
    z-index: 2;
  }
  
  .card .social-link {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25%;
    height: 100%;
    color: whitesmoke;
    font-size: 24px;
    text-decoration: none;
    transition: 0.25s;
  }
  
  .card .social-link svg {
    text-shadow: 1px 1px rgba(31, 74, 121, 0.7);
    transform: scale(1);
  }
  
  .card .social-link:hover {
    background-color: rgba(249, 244, 255, 0.774);
    animation: bounce_613 0.4s linear;
  }
  
  @keyframes bounce_613 {
    40% {
      transform: scale(1.4);
    }
  
    60% {
      transform: scale(0.8);
    }
  
    80% {
      transform: scale(1.2);
    }
  
    100% {
      transform: scale(1);
    }
  }
  @media screen and (min-width) {
    
  }